.fondoItem {
  background-color: #FF111328;
  height: 430PX;
  border-radius: 20PX;
  color: white;
}

.resultado {
  color: #12bd45;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.estiloNumero {
  font-size: 80px;
  font-weight: 700;
  padding: 25px 0 45px 0;
}

.interpretacion {
  font-size: 18px;
  margin: 10px;
}