<div class="row">
  <div class="col-lg-8 offset-lg-12">
    <div class="card" style="width: 25rem; margin: 0 auto;">
      <img [src]="urlImg" alt="" class="card-img-top img-thumbnail">
      <div class="card-body text-center">
        <h5 class="card-title">{{nombre}}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{correo}}</li>
          <li class="list-group-item">{{genero}}</li>
        </ul>
      </div>
      <div style="width: 100%; box-sizing: border-box; padding: 10px;">
        <button class="btn btn-primary btn-block btn-xl" routerLink="/dashboard-usuarios">volver</button>
      </div>
    </div>
  </div>
</div>