<div class="alert alert-dismissible alert-danger" *ngIf="error">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <div class="text-center">
    <strong>Error al obtener el clima</strong>
  </div>
</div>
<div class="contenedorDos">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img [src]="urlImage" alt="clima" width="300px" height="300px">
      </div>
      <div class="col-lg-6">
        <input type="text" class="form-control size" placeholder="Ingrese su Ciudad" [(ngModel)]="ciudad">
        <button class="btn btn-primary btn-lg btn-block mt-4 size" [disabled]="ciudad === ''"
          (click)="obtenerClima()">Obtener clima</button>

        <div class="text-center mt-4" *ngIf="loading">
          <div class="spinner-grow text-primary" role="status"></div>
          <div class="spinner-grow text-primary" role="status"></div>
          <div class="spinner-grow text-primary" role="status"></div>
        </div>

        <div *ngIf="query" class="card mt-3">
          <div class="card-body">
            <p><b>Temperatura: {{temperatura | number: '1.2-2'}} ºC</b></p>
            <p><b>Humedad: {{humedad}} </b></p>
            <p><b>Clima: {{clima}} </b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>