<div class="container mt-3">
  <div class="row">
    <h3>Hola mi nombre es {{nombre}}</h3>
    <br>
    <h3>La suma entre 10 y 15 = {{getSuma(10, 15)}}</h3>
    <br>
    <br>
    <input type="text" class="form-control" [placeholder]="textoPlaceHolder">
  </div>
</div>

<br>
<hr>
<br>

<div class="container mt-5">
  <h3>{{texto}}</h3>
  <br>
  <button class="btn btn-primary" (click)="cambiarTexto()">Click me</button>
</div>

<br>
<hr>
<br>

<div class="container mt-4">
  <input type="text" class="form-control" placeholder="write here" [(ngModel)]="text">
  <br>
  {{text}}
</div>
