<nav class="navbar bg-body-tertiary navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{texto ? texto : titulo}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"
      style="background-color: #243747;">
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/preguntas">Preguntas
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/layout">Layout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/tarjeta-credito">Tarjeta C</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/pixabay">Pixabay</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/noticias">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/cortar-url">Url</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/clima">Clima</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/ingresar-presupuesto">Presupuesto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/citas">Citas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/lista-empleados">Empleados</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/inicio">Bmi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/moneda">Moneda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/lista-estudiantes">Estudiantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/piano">Piano</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/tareas">Tareas</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>