<div class="contenedorDos">
  <div class="container">
    <h2 class="display-5 text-center" style="color: black;">INGRESE LA URL A CORTAR</h2>

    <div class="row mt-3 mb-4">
      <div class="col-lg-8">
        <input type="text" class="form-control form-control-lg" placeholder="Ingrese la url" [(ngModel)]="nombreUrl">
      </div>
      <div class="col-lg-4">
        <button class="btn btn-primary btn-block btn-lg" (click)="procesarUrl()">ACEPTAR</button>
      </div>
    </div>
    <div *ngIf="urlProcesada" class="row">
      <div class="col-lg-8">
        <input type="text" class="form-control form-control-lg" placeholder="Url procesada..." [(ngModel)]="urlShort">
      </div>
    </div>
  </div>
</div>